name : simple hello world
on: 
 push:
   branches:
     - main
     - release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - name: build step
         run: echo "build step"
  test:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: test
          run: echo "test job"
  deploy:
     runs-on: ubuntu-latest
     needs: test
     steps:
       - name: deploy stage
         run: echo "deploy step"
         
