name : simple hello world
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - name: checkout the code
         uses: actions/checkout@v3
       - name: print the file
         run: cat index.html

         
